<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title text-center>BuscaCarga</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <!-- Inputs -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="9">
          <ion-item>
            <ion-icon 
              color="secondary" 
              name="mail" 
              slot="start"></ion-icon>
            <ion-input
              text-start
              color="secondary" 
              name="name" 
              type="email" 
              placeholder="Correo electronico"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="9">
          <ion-item>
            <ion-icon 
              color="secondary" 
              name="key" 
              slot="start"></ion-icon>
            <ion-input 
              required
              text-start
              color="secondary" 
              name="password" 
              type="password" 
              maxlength="15"
              placeholder="Contraseña" 
              placeholder-font-weight></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- B:ingresar -->
      <ion-row class="ion-justify-content-center" >
        <ion-col size="10">
          <ion-button expand="full" shape="round">
            <ion-icon name="log-in" slot="end"></ion-icon>
            INGRESAR
          </ion-button>
          <ion-item button >
              <ion-label text-end color="primary">olvido su contraseña?</ion-label>
            </ion-item>
        </ion-col>
      </ion-row>

      <!-- B:Registrar -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="9">
          <ion-button expand="full" shape="round" routerLink="/registry">
              <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            REGISTRESE
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-app>