<ion-app>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Nuevo envío</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid ion-padding-top>
      <ion-row>
        <ion-col size="12">
          <ion-text color="primary">
            <h1>Seleccione el tipo de carga que enviara</h1>
          </ion-text>
        </ion-col>
        <ion-col size="6">

        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="#" />
            </ion-avatar>
            <ion-label></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-avatar slot="end">
              <img [src]="#" />
            </ion-avatar>
            <ion-label></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
