<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Nuevo envío</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card-content>
      <ion-grid>
        <ion-item>
          <ion-label color="primary" position="floating">Titulo Envío</ion-label>
          <ion-input color="secondary" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" position="floating">Tipo de carga</ion-label>
          <ion-input color="secondary" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Origen</ion-label>
          <ionic-selectable item-content [(ngModel)]='ciudad' itemValueField="id" itemTextField="name"
            [items]="usuarios" [canSearch]="true" closeButtonText="Cerrar" closeButtonSlot="end"
            searchPlaceholder="Buscar" searchFailText="Sin Información" (ionChange)='buscarUsuario($event)'>
          </ionic-selectable>

        </ion-item>
        <ion-item>
          <ion-label color="primary">Destino</ion-label>
          <ionic-selectable item-content [(ngModel)]='ciudad' itemValueField="id" itemTextField="name"
            [items]="usuarios" [canSearch]="true" closeButtonText="Cerrar" closeButtonSlot="end"
            searchPlaceholder="Buscar" searchFailText="Sin Información" (ionChange)='buscarUsuario($event)'>
          </ionic-selectable>

        </ion-item>
        <ion-item>
          <ion-label color="primary" position="floating">Fecha Recogida</ion-label>
          <ion-datetime value="2019-06-08" min="2019" max="2025" [dayShortNames]="customDayShortNames"
            displayFormat="DD/MM/YYYY" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
            color="secondary" doneText="Ok"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" position="floating">Fecha Entrega</ion-label>
          <ion-datetime value="2019-06-08" min="2019" max="2025" [dayShortNames]="customDayShortNames"
            displayFormat="DD/MM/YYYY" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
            placeholder-color="secondary" doneText="Ok"></ion-datetime>
        </ion-item>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-justify-content-center">
            <ion-label color="primary" class="ion-float-start">Largo</ion-label>
            <ion-input type="number" placeholder="Cm" size="4" maxlength="4" color="secondary"></ion-input>
          </ion-col>
          <ion-col size="6" class="ion-justify-content-center">
            <ion-label color="primary" class="ion-float-start">Ancho</ion-label>
            <ion-input type="number" placeholder="Cm" size="4" maxlength="4" color="secondary"></ion-input>
          </ion-col>
          <ion-col size="6" class="ion-justify-content-center">
            <ion-label color="primary" class="ion-float-start">Alto</ion-label>
            <ion-input type="number" placeholder="Cm" size="4" maxlength="4" color="secondary"></ion-input>
          </ion-col>
          <ion-col size="6" class="ion-justify-content-center">
            <ion-label color="primary" class="ion-float-start">Peso</ion-label>
            <ion-input type="number" placeholder="Cm" size="4" maxlength="4" color="secondary"></ion-input>
          </ion-col>
          <ion-col size="10">
            <ion-button expand="full" shape="round" routerLink="./../../shipment-details">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              REGISTRAR OFERTA
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-content>

</ion-app>