<ion-app>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Detalle oferta envío</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Detalle del envío">
        <ng-template ngbPanelContent>

          <ion-grid>

            <ion-row *ngFor="let input of inputs">
              <ion-col size="10">
                <ion-label color="primary"> {{input.label}} </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-text color="medium"> {{input.value}} </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <b>Ofertas</b>
        </ng-template>
        <ng-template ngbPanelContent>
          
            <ion-card *ngFor="let item of [1,1,1,1];let indice=index">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>Oferta {{indice+1}}</ion-label>
                <ion-button (click)='VerOferta()'>
                  Ver
                </ion-button>
              </ion-item>
            </ion-card>

        </ng-template>
      </ngb-panel>

    </ngb-accordion>

  </ion-content>

</ion-app>